@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Luckiest Guy', cursive;
  box-sizing: border-box;
}

body{
  background-color: #060606;
  color: white;
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

h1{
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 20px;
}
h2{
  margin-bottom: 40px;
  text-align: center;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

li{
  margin: 30px;
}

.card{
  /* margin-left: 10px;
  margin-bottom: 10px; */
  height: 190px;
  width: 290px;
}

li{
  list-style: none;
}

.card{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.card__country{
  background-color: #4b7bdb;
  text-shadow: 6px 6px 4px rgb(66, 62, 62);
}
.card__recovered{
  background-color: #46a555;
  text-shadow: 6px 6px 4px rgb(66, 62, 62);
}
.card__confirmed{
  background-color: #e7d458;
  text-shadow: 6px 6px 4px rgb(66, 62, 62);
}
.card__death{
  background-color: #ec7d34;
  text-shadow: 6px 6px 4px rgb(66, 62, 62);
}
.card__active{
  background-color:  #3f65b3;
  text-shadow: 6px 6px 4px rgb(66, 62, 62);
}
.card__update{
  background-color: #c9b876;
  text-shadow: 6px 6px 4px rgb(66, 62, 62);
}



.card__total{
  font-size: 54px;
}
